@font-face {
    font-family: 'Code';
    src: url(/fonts/Code.ttf);
}

@keyframes muda-cor {
    from{
        background-color: #434242;
    }to{
        background-color: #222222;
    }
}

@keyframes movimento-foto {
    from{
        position: relative;
        top:0;
        left: 0;
        opacity: 0%;
        
    }to{
        position: relative;
        top: 25vh;
        left: 20vw;
        opacity: 90%;
    }
}
@keyframes movimento-texto {
    from{
        position: relative;
        top:0;
        left: 0;
        opacity: 0%;
        
    }to{
        position: relative;
        left: 42%;
        opacity: 100%;
    }
}

body{
    animation-name: muda-cor;
    animation-duration: 3s;
    margin: 0;
    padding: 0;
    background-color: #222222;
    background-image: url(/img/bg-site.jpg);

    font-family: 'Inconsolata', monospace;
}
header{
    background-color: #434242;
    height: 60px;
}
nav{
    display: flex;
    align-items: center;
}
.foto{
    animation-name: movimento-foto;
    animation-duration: 3s;
    animation-fill-mode: forwards
}
.texto{
    animation-name: movimento-texto;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    color: white;

}
.topnav{
    display: flex;
    justify-content:flex-end;
    margin-left:20%;
    margin-top:5px;
    position: sticky;
    top:0;
}
.logo{
    justify-content: start;
    font-family: 'Code';
    font-size: 20px;
    width: 50%;
}

#nome{
    color: aliceblue;
}

ul{
    display: flex;
    text-decoration: none;
    
}
a{
    text-decoration: none;
    padding: 20px;
    color: #22A39F;
}

span{
    color:#22A39F;
}